extends layout

block content
  p #{name} welcome || 
    a(href="/logout") logout
  h1=title
  table
    tr
      th 
        a(href="/account/list/1/type/#{sort}") 종류
      th 
        a(href="/account/list/1/title/#{sort}") 제목
      th 
        a(href="/account/list/1/price/#{sort}") 금액
      th 
        a(href="/account/list/1/calen/#{sort}") 날짜
      th 수정
      th 삭제
    !{lists}
  !{page}
  h3 잔액 : #{balance} 원